.landing{
    @apply lg:px-[40px] 2xl:max-w-[1400px] 2xl:m-auto 2xl:px-0 pt-[60px] pb-[120px] xl:px-[120px] flex justify-between
}
.leftLanding{
    @apply w-[50%]
}
.leftLanding h3{
    @apply text-[30px] xl:text-[40px] font-custom font-normal text-black leading-tight;
}
.leftLanding p{
    @apply mt-2 mb-7 text-[16px] 2xl:text-[20px] text-[#565656] font-[300] leading-normal w-[70%];
}
.nftAuctoin{
    @apply flex gap-4 mt-10
}
.nftAuctoin h2{
    @apply text-[35px] font-custom font-normal text-black leading-tight;
}
.nftAuctoin p{
    @apply !my-0
}
.exploreBg{
    @apply relative z-10
}
.exploreBg img{
    @apply top-0 left-[-60px] absolute z-[-1]
}
.rightLanding{
    @apply !bg-contain xl:min-h-[440px] xl:bg-cover w-[300px] xl:w-[400px] mr-16 relative py-5 px-5 text-white flex flex-col justify-between;
    background: url('../../../public/landing.png');
    background-position: center;
    background-repeat: no-repeat;

}
.rightLanding::after{
    @apply left-14 z-[-1] top-7 xl:w-[400px] absolute h-[300px] w-[300px] xl:h-[390px];
    content: '';
    background: url('../../../public/bg2.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.rightLanding::before{
    @apply left-[110px] z-[-1] top-12 xl:w-[400px] w-[300px] h-[250px] absolute xl:h-[350px];
    content: '';
    background: url('../../../public/bg3.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.biddertop h4{
    @apply text-[28px] font-semibold
}
.biddertop div{
    @apply flex justify-start items-center gap-3
}
.biddertop div h4{
    @apply text-[20px] font-[500];
}
.bidderBottom{
    @apply flex justify-between items-center rounded-[12px] py-4 px-3;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);    
}
.bidderBottom h5{
    @apply text-[12px]
}
.currentBid{
    @apply flex gap-2
}
.bidderBottom p{
    @apply text-[16px] font-medium
}
.staticImg{
    @apply absolute left-[-70px] bottom-24;
}